<% provide :title, @contractor.name %>

<p>
  <% if contractor_signed_in? && current_contractor == @contractor%>
    <%= link_to "Edit profile", edit_contractor_path(@contractor) %>
  <% end %>
</p>

<p><%= image_tag @contractor.profile_picture.url(:medium) %></p>
<p><%= @contractor.name %></p>
<p><%= @contractor.description %></p>
<p><%= @contractor.phone %></p>
<p><%= @contractor.website %></p>

<p>
  <h4>Skills</h4>
  <ul>
  <% for category in @contractor.categories %>
    <li><%= category.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <h4>Projects</h4>
  <% for project in @contractor.projects %>
    <p>
      <h5><%= project.title %></h5>
      <%= project.description %>
    </p>
  <% end %>
</p>

<p class="reviews">
  <h4>Reviews</h4>
  <ul class="reviews_list">
    <% for review in @contractor.reviews %>
      <li>
        <%= review.body %>
        <%= review.quality_rating %>
        <%= review.efficiency_rating %>
        <%= review.friendliness_rating %>
        <%= review.commenter_email %>
      </li>
    <% end %>
  </ul>

  <h5>Leave a Review</h5>
  <%= form_for @contractor.reviews.build do |f| %>
  <%# <%= form_for @contractor.reviews.build, remote: true do |f| %>
    <%= f.text_field :contractor_id, hidden: true %>
    <p>
      <%= f.label       :commenter_email, "Your email" %>
      <%= f.email_field :commenter_email, required: true %>
    </p>
    <p>
      <%= f.label       :body %>
      <%= f.text_area   :body, required: true %>
    </p>
    <%= f.submit %>
  <% end %>
</p>
